body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.geral{
  display: flex;
  justify-content: space-between;
  background-color: #445B69;
  height: 90px; 
}
 
.logo{
  display: flex;
  align-items: center;
  padding-left: 120px;  
  font-size: 2rem;
  color: #ffffff;
}

.menu{
  display: flex; 
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.active{
  background-color: #53BD99; 
}
 
nav ul{
  display: block;
  display: flex;
  list-style: none;
  padding: 10px;  
  padding-right: 120px;
}

nav ul li{
  display: block;
  padding: 18px;
  font-weight: bold;
}

nav ul li:hover{
  background-color: #53BD99;
  cursor: pointer;
}

.sobre{
  margin: 0;
  padding: 0;
  height: 450px;
  background-color: #111;
  background-image: url('../images/img1.jpg');
  background-repeat: no-repeat; 
  background-size:cover

}

h1{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  font-size: 2em;
}

.textosobre{
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn{
  display: grid;
  text-align: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;   
 border: 2px solid #ffffff;
 display: inline-block;
 justify-content: center;
 margin-left: 610px;
 padding: 15px;
} 