body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.geral{
  display: flex;
  justify-content: space-between;
  background-color: #445B69;
  height: 90px; 
}
 
.logo{
  display: flex;
  align-items: center;
  padding-left: 120px;  
  font-size: 2rem;
  color: #ffffff;
}

.menu{
  display: flex; 
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.active{
  background-color: #53BD99; 
}
 
nav ul{
  display: block;
  display: flex;
  list-style: none;
  padding: 10px;  
  padding-right: 120px;
}

nav ul li{
  display: block;
  padding: 18px;
  font-weight: bold;
}

nav ul li:hover{
  background-color: #53BD99;
  cursor: pointer;
}